<li class="<%= Ecm::Pictures::Configuration.picture_gallery_preview_li_css_classes %>">
  <div class="<%= Ecm::Pictures::Configuration.picture_gallery_preview_div_css_classes %>" id="picture-gallery-<%= picture_gallery.id %>">
    <% if picture_gallery.pictures.first.respond_to?(:image) %>
      <div class="picture-image">
        <%= image_tag picture_gallery.pictures.first.image.url(:default_thumb) %>
      </div>
    <% end %>
    <div class="caption">
      <h3><%= picture_gallery.name %></h3>
      <div class="description"><%= mu(picture_gallery, :description) %></div>
    </div>
    <div class="controls">
      <%= link_to t('ecm.pictures.actions.view'), picture_gallery, :class => 'btn btn-primary' %>
      <span class="pull-right small picture-count"><%= Ecm::Pictures::PictureGallery.human_attribute_name(:pictures) %>: <%= picture_gallery.pictures_count %></span>
    </div>
  </div>
</li>