<li class="<%= Ecm::Pictures::Configuration.picture_for_gallery_css_classes %>" id="picture-<%= picture.to_param %>">
  <% if picture.picture_gallery.link_images %>
    <%= link_to("#{picture.image.url}#{File.extname(picture.image_file_name).downcase}", :'data-gallery' => "gallery") do %>
      <% image_tag(picture.image.url(:default_thumb)) %>
    <% end %>
  <% else %>
    <%= image_tag(picture.image.url(:default_thumb), :class => 'thumbnail') %>
  <% end %>
  <div class="caption"><%= mu(picture, :description) %></div>
</li>
